html, body {
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

button {
	cursor: pointer;
	align-self: center;
	padding: .5rem;
	margin: 1rem;
}

canvas {
	flex: 1;
	aspect-ratio: 1;
	height: 1;
	object-fit: contain;
}

p {
	color: red;
}