html, body {
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

button {
	cursor: pointer;
}

canvas {
	flex: 1;
	aspect-ratio: 1;
	height: 1;
	object-fit: contain;
}

p {
	color: red;
}